<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Sistema Sube</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>tarjeta.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ControladorMostrarTarjeta</servlet-name>
		<servlet-class>controladores.ControladorMostrarTarjeta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorMostrarTarjeta</servlet-name>
		<url-pattern>/MostrarTarjeta</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorCargarSaldo</servlet-name>
		<servlet-class>controladores.ControladorCargarSaldo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorCargarSaldo</servlet-name>
		<url-pattern>/CargarSaldo</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ControladorGenerarBoletoSubte</servlet-name>
		<servlet-class>controladores.ControladorGenerarBoletoSubte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorGenerarBoletoSubte</servlet-name>
		<url-pattern>/GenerarBoletoS</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorGenerarBoletoColectivo</servlet-name>
		<servlet-class>controladores.ControladorGenerarBoletoColectivo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorGenerarBoletoColectivo</servlet-name>
		<url-pattern>/GenerarBoletoC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorGenerarBoletoTren</servlet-name>
		<servlet-class>controladores.ControladorGenerarBoletoTren</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorGenerarBoletoTren</servlet-name>
		<url-pattern>/GenerarBoletoT</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorEstadistica</servlet-name>
		<servlet-class>controladores.ControladorEstadistica</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorEstadistica</servlet-name>
		<url-pattern>/MostrarEstadistica</url-pattern>
	</servlet-mapping>
	

</web-app>